* text=auto !eol
Artwork/Default.xcf -text
Artwork/buttons.xcf -text
Artwork/circles.xcf -text
/CDStructures.h -text
/CHANGELOG -text
/Color.h -text
/Color.m -text
/ColorMap.h -text
/ColorMap.m -text
/Constants.h -text
/Constants.m -text
/GestureView.h -text
/GestureView.m -text
/Info.plist -text
/Log.h -text
/Log.m -text
/Makefile -text
/Makefile.build -text
/Menu.h -text
/Menu.m -text
/MobileTerminal.h -text
/MobileTerminal.m -text
/PTYTextView.h -text
/PTYTextView.m -text
/PTYTile.h -text
/PTYTile.m -text
/PieView.h -text
/PieView.m -text
/Preferences.h -text
/Preferences.m -text
/README -text
/ROADMAP -text
Resources/Default.png -text
Resources/Default_MobileTerminal0.png -text
Resources/Default_MobileTerminal1.png -text
Resources/Default_MobileTerminal2.png -text
Resources/Default_MobileTerminal3.png -text
Resources/FSO_MobileTerminal0.png -text
Resources/FSO_MobileTerminal1.png -text
Resources/FSO_MobileTerminal2.png -text
Resources/FSO_MobileTerminal3.png -text
Resources/icon.png -text
Resources/menu.plist -text
Resources/menu_button_blue.png -text
Resources/menu_button_darkgray.png -text
Resources/menu_button_gray.png -text
Resources/menu_button_white.png -text
Resources/pie_back.png -text
Resources/pie_blue1.png -text
Resources/pie_blue2.png -text
Resources/pie_blue3.png -text
Resources/pie_blue4.png -text
Resources/pie_blue5.png -text
Resources/pie_blue6.png -text
Resources/pie_blue7.png -text
Resources/pie_blue8.png -text
Resources/pie_gray1.png -text
Resources/pie_gray2.png -text
Resources/pie_gray3.png -text
Resources/pie_gray4.png -text
Resources/pie_gray5.png -text
Resources/pie_gray6.png -text
Resources/pie_gray7.png -text
Resources/pie_gray8.png -text
Resources/pie_white1.png -text
Resources/pie_white2.png -text
Resources/pie_white3.png -text
Resources/pie_white4.png -text
Resources/pie_white5.png -text
Resources/pie_white6.png -text
Resources/pie_white7.png -text
Resources/pie_white8.png -text
/Settings.h -text
/Settings.m -text
/ShellKeyboard.h -text
/ShellKeyboard.m -text
/SubProcess.h -text
/SubProcess.m -text
Terminal.xcodeproj/project.pbxproj -text
/Tools.h -text
/Tools.m -text
/UIFieldEditor.h -text
/UIGradient.h -text
/UINavigationController.h -text
/UIViewController.h -text
/VT100Screen.h -text
/VT100Screen.m -text
/VT100Terminal.h -text
/VT100Terminal.m -text
/charmaps.h -text
/main.m -text
/svnversion.py -text
