* text=auto !eol
MobileTerminal/Classes/MenuView.h -text
MobileTerminal/Classes/MenuView.m -text
MobileTerminal/Classes/MobileTerminalAppDelegate.h -text
MobileTerminal/Classes/MobileTerminalAppDelegate.m -text
MobileTerminal/Classes/MobileTerminalViewController.h -text
MobileTerminal/Classes/MobileTerminalViewController.m -text
MobileTerminal/Classes/Preferences/FontDataSource.h -text
MobileTerminal/Classes/Preferences/FontDataSource.m -text
MobileTerminal/Classes/Preferences/MenuSettings.h -text
MobileTerminal/Classes/Preferences/MenuSettings.m -text
MobileTerminal/Classes/Preferences/PreferencesDataSource.h -text
MobileTerminal/Classes/Preferences/PreferencesDataSource.m -text
MobileTerminal/Classes/Preferences/Settings.h -text
MobileTerminal/Classes/Preferences/Settings.m -text
MobileTerminal/Classes/Preferences/TerminalSettings.h -text
MobileTerminal/Classes/Preferences/TerminalSettings.m -text
MobileTerminal/Classes/SubProcess/PTY.h -text
MobileTerminal/Classes/SubProcess/PTY.m -text
MobileTerminal/Classes/SubProcess/SubProcess.h -text
MobileTerminal/Classes/SubProcess/SubProcess.m -text
MobileTerminal/Classes/Terminal/TerminalGroupView.h -text
MobileTerminal/Classes/Terminal/TerminalGroupView.m -text
MobileTerminal/Classes/Terminal/TerminalKeyboard.h -text
MobileTerminal/Classes/Terminal/TerminalKeyboard.m -text
MobileTerminal/Classes/Terminal/TerminalView.h -text
MobileTerminal/Classes/Terminal/TerminalView.m -text
MobileTerminal/Classes/VT100/ColorMap.h -text
MobileTerminal/Classes/VT100/ColorMap.m -text
MobileTerminal/Classes/VT100/VT100.h -text
MobileTerminal/Classes/VT100/VT100.m -text
MobileTerminal/Classes/VT100/VT100Screen.h -text
MobileTerminal/Classes/VT100/VT100Screen.m -text
MobileTerminal/Classes/VT100/VT100Terminal.h -text
MobileTerminal/Classes/VT100/VT100Terminal.m -text
MobileTerminal/Classes/VT100/VT100TextView.h -text
MobileTerminal/Classes/VT100/VT100TextView.m -text
MobileTerminal/Classes/VT100/VT100Types.h -text
MobileTerminal/Classes/VT100/charmaps.h -text
MobileTerminal/MainWindow.xib -text
MobileTerminal/MobileTerminal-Info.plist -text
MobileTerminal/MobileTerminal.xcodeproj/project.pbxproj -text
MobileTerminal/MobileTerminalViewController.xib -text
MobileTerminal/MobileTerminal_Prefix.pch -text
MobileTerminal/PreferencesTests-Info.plist -text
MobileTerminal/Resources-iPad/MainWindow-iPad.xib -text
MobileTerminal/Resources/icon.png -text
MobileTerminal/Tests/ColorMapTest.h -text
MobileTerminal/Tests/ColorMapTest.m -text
MobileTerminal/Tests/MenuSettingsTest.h -text
MobileTerminal/Tests/MenuSettingsTest.m -text
MobileTerminal/Tests/PreferencesDataSourceTest.h -text
MobileTerminal/Tests/PreferencesDataSourceTest.m -text
MobileTerminal/Tests/VT100Test.h -text
MobileTerminal/Tests/VT100Test.m -text
MobileTerminal/VT100Tests-Info.plist -text
MobileTerminal/main.m -text
/README -text
